{% extends "user/main_loggedin.html" %}
{% comment %} {% extends "user/main_loggedin.html" %} {% endcomment %}

{% block title %}
Test
{% endblock title %}



{% block main_content %}
<!-- Login page will have email and password and login button in center and below
Sign in button there is line not registered yet then click here! where here has link to register
-->


<div class="container ">
    <h1>Session</h1>


</div>
{% endblock main_content %}





{% extends "user/main_loggedin.html" %}
{% comment %} {% extends "user/main_loggedin.html" %} {% endcomment %}

{% block title %}
Login
{% endblock title %}



{% block main_content %}
<!-- Login page will have email and password and login button in center and below
Sign in button there is line not registered yet then click here! where here has link to register
-->


{% endblock main_content %}

<!--
<div class="container ">
    <div class="form text-center">
        <div class="form-group md-form mt-20 pt-1 waves-light waves-effect waves-light">
            <input type="text" class="form-control" placeholder="someone@example.com">
        </div>
        <div class="form-group md-form mt-0 pt-1 waves-light waves-effect waves-light">
            <input type="text" class="form-control" placeholder="********">
        </div>
        <div class="form-group md-form mt-0 pt-1 waves-light waves-effect waves-light">
            <input type="submit" value="Submit" class="form-control btn-default">
        </div>
        <div class="form-group md-form mt-0  waves-light waves-effect waves-light">
            <span class='text-left'>Forgot <a href="{% url 'reset_password' %}">password</a>? </span>
            <span>Haven't registered yet? click <a href="{% url 'reset_password' %}">here</a> to register.</span>
        </div>
    </div>
</div>
-->