<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Category</title>
	 <link href="bootstrap.min.css" rel="stylesheet">
	 <link rel="stylesheet" href="style.css">
</head>

<body class="main">
	<!-- nav bar -->
	<section>
		<div id="#nav">
			<div class="navbar navbar-inverse nv">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Wallpaper</a>
					</div>
					<div class="collapse navbar-collapse" id="mynav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Login</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- side menu -->
		<section>
			<div class="menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="">
								<div class="col-md-2 coll">
									 <!-- angular using for menu -->
									<div ng-app="wallApp" ng-controller="menuctrl">
										<ul>
											<li>
												<a href="index.html"><span>Home</span></a>
											</li>
											<li>
												<a href="Category.html"><span>Category</span></a>
											</li>
											<li>
												<a href="About.html"><span>About</span></a>
											</li>
											<li>
												<a href="contact.html"><span>Contact</span></a>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<!-- category page -->
							<div class="col-md-10 about" style="padding: 10px;">
								<div>
									<div class="">
										<div class="col-md-6">
											<h1>Category name</h1>
										</div>
										<div class="col-md-6">
											<div class="dropdown">
											  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort
											  <span class="caret"></span></button>
											  <ul class="dropdown-menu">
											    <li><a href="#">by date</a></li>
											    <li><a href="#">by download</a></li>
											    <li><a href="#">by views</a></li>
											  </ul>
											</div>
										</div>
									</div><br><br>
									<div class=""><br><br>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
									</div>
									<div class=""><br><br>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
									</div> 
									<div class=""><br><br>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
										<div class="col-md-3"><br>
											<div>
												<img src="1.jpg" class="img-responsive img-rounded">
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
			        </div>
			    </div>
			</div>
		</section>

		<!-- footer section -->
		<section>
			<div class="foot">
				<div class="container-fluid ">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright @ indian Designer : Dhaval & Mnthn</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

	<!-- highlight Wallpaper -->

	<!-- jquery calling -->
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="angular.min.js"></script>

	 <!-- Angular js script -->
	 	<!-- menu list -->
 	<script>
 		angular.module('wallApp',[]).controller('menuctrl',function($scope){
 			$scope.menus=['Home','Category','About','Contacts'];
 		});	
 	</script>
</body>

</html>