<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Contact</title>
	 <link href="bootstrap.min.css" rel="stylesheet">
	 <link rel="stylesheet" href="style.css">
</head>

<body class="main">
	<!-- nav bar -->
	<section>
		<div id="#nav">
			<div class="navbar navbar-inverse nv">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Wallpaper</a>
					</div>
					<div class="collapse navbar-collapse" id="mynav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Login</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- side menu -->
		<section>
			<div class="menu">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="">
								<div class="col-md-2 coll">
									 <!-- angular using for menu -->
									<div ng-app="wallApp" ng-controller="menuctrl">
										<ul>
											<li>
												<a href="index.html"><span>Home</span></a>
											</li>
											<li>
												<a href="Category.html"><span>Category</span></a>
											</li>
											<li>
												<a href="About.html"><span>About</span></a>
											</li>
											<li>
												<a href="contact.html"><span>Contact</span></a>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<!-- contact form -->
							<div class="col-md-10 about" style="padding: 7% 0%;">

								<div class="col-md-6">
									<div>
										<h1 class="text-center">Contact</h1><br>
										<p><b>Phone :</b> +91 8153882194</p>
										<br>
										<p><b>Email :</b> dhavalpurohit94@gmail.com</p>
										<br>
										<p><b>Address :</b> Rajkot </p>
									</div>
								</div>

								 <!-- feedback form -->
								<div class="col-md-6 feed">
									<div class="form-group">
										<h1 class="text-center">Feedback</h1><br>
										<input type="text" name="name" placeholder="Username" required>
										<br><br>
										<input type="email" name="email" placeholder="Email" required>
										<br><br>
										<textarea class="form-control" rows="5" placeholder="Description" required></textarea><br>
										<input type="submit" name="submit" class="btn btn-primary">
									</div>
								</div>								
							</div>
						</div>
			        </div>
			    </div>
			</div>
		</section>

		<!-- footer section -->
		<section>
			<div class="foot">
				<div class="container-fluid ">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright @ indian Designer : Dhaval & Mnthn</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

	<!-- highlight Wallpaper -->

	<!-- jquery calling -->
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="angular.min.js"></script>

	 <!-- Angular js script -->
	 	<!-- menu list -->
 	<script>
 		angular.module('wallApp',[]).controller('menuctrl',function($scope){
 			$scope.menus=['Home','Category','About','Contacts'];
 		});	
 	</script>
</body>

</html>