/* Custom style sheet for the website */
* {
    border-radius: 5px;  
}
.logg {
 	padding:10px;
}
.logg .panel{
	border: 1px solid #424242;
}
.logg .form button{
		float: left;
		/*background-color: g;*/

}
.logg .reg{
}
.logg .panel input{
	width: 100%;
	padding: 10px;
	border-top: none;
	border-left: none;
}